body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.CodeMirror {
  height: 100vh;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 18px;
}

/* .CodeMirror:not(.CodeMirror-focused) .CodeMirror-cursors { */
/*   visibility: visible !important; */
/* } */
/* .CodeMirror:not(.CodeMirror-focused) .CodeMirror-cursor { */
/*   /1* Styles for cursor when editor is out of focus *1/ */
/* } */
